<div class="container">
   <div class="main-body">
      <div class="row gutters-sm">
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                     <img src="../../assets/{{userInformations.avatar}}.png" alt="Admin" class="rounded-circle"
                        width="150">
                     <div class="mt-3">
                        <h4>{{userInformations.username}}</h4>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="card mb-3">
               <div class="card-body">
                  <div class="row">
                     <div class="col-sm-3">
                        <h6 class="mb-0">Identifier</h6>
                     </div>
                     <div class="col-sm-9 text-secondary">
                        {{userInformations._id}}
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                     </div>
                     <div class="col-sm-9 text-secondary">
                        {{userInformations.email}}
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-sm-12 text-center mb-2">
                        <h6 class="mb-0">Statistics</h6>
                        <p class="text-secondary"><i>in {{userInformations.stats.games}} games</i></p>
                     </div>
                     <div class="col-sm-4 text-center">
                        <h6>Win:</h6>
                        <p class="text-secondary">{{userInformations.stats.win}}</p>
                     </div>
                     <div class="col-sm-4 text-center">
                        <h6>Draw:</h6>
                        <p class="text-secondary">{{userInformations.stats.draw}}</p>
                     </div>
                     <div class="col-sm-4 text-center">
                        <h6>Lose:</h6>
                        <p class="text-secondary">{{userInformations.stats.lose}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>