<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 px-4 mb-4 border-bottom">

    <div class="col-md-3">
        <h1><a routerLink="/home-page" class="text-dark text-decoration-none">Connect-4</a></h1>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home-page" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a routerLink="/home-page" class="nav-link px-2 link-dark">Features</a></li>
    </ul>
</header>
<div class="content" role="main">
    <router-outlet></router-outlet>
</div>
<footer>

</footer>