<!-- header of the page -->
<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-light px-4 py-4">
      <h1>Connect-4</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/profile']">Il mio profilo</a>
            </li>
            <li class="nav-item" *ngIf="user.is_admin(); then adminBlock else userBlock"></li>
            <li class="nav-item" *ngIf="user.is_admin()">
               <a class="nav-link" (click)="open('CREATE MOD', newModerator)">Crea un moderatore</a>
            </li>
            <ng-template #adminBlock>
               <a class="nav-link" [routerLink]="['/user-list']">Tutti i profili</a>
            </ng-template>
            <ng-template #userBlock>
               <a class="nav-link" [routerLink]="['/user-list']">Profili amici</a>
            </ng-template>
            <li class="nav-item">
               <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
            </li>
         </ul>
      </div>
   </nav>
</header>


<!-- Template used when an user receive a friend request -->
<div class="container mt-4" *ngIf="friendRequest">
   <div class="alert text-center">
      <h3>Nuova richiesta amico:</h3>
      <div class="row justify-content-center">
         <div class="col-md-1 col-sm-1 py-2">
            <img src="../../assets/{{friendRequest.avatar}}.png" alt="user" class="profile-photo-lg">
         </div>
         <div class="col-md-3 col-sm-3 py-2">
            <p>Username: {{friendRequest.username}}</p>
            <p class="text-secondary">ID: {{friendRequest.id}}</p>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-5">
            <button type="button" class="btn btn-success btn-lg"
               (click)="complete_friend_request(friendRequest, 'ACCEPT')">Accetta</button>
         </div>
         <div class="col-5">
            <button type="button" class="btn btn-danger btn-lg"
               (click)="complete_friend_request(friendRequest, 'DENY')">Rifiuta</button>
         </div>
      </div>
   </div>
</div>

<!-- Template used when a game request from a friend arrives to the user -->
<div class="container" *ngIf="friendGameRequest">
   <div class="alert text-center">
      <h3>Richiesta creazione nuova partita contro:</h3>
      <div class="row justify-content-center">
         <div class="col-md-1 col-sm-1 py-2">
            <img src="../../assets/{{friendGameRequest.avatar}}.png" alt="user" class="profile-photo-lg">
         </div>
         <div class="col-md-3 col-sm-3 py-2">
            <p>Username: {{friendGameRequest.username}}</p>
            <p class="text-secondary">ID: {{friendGameRequest._id}}</p>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-sm-12 text-center mb-2">
            <h6 class="mb-0">Statistiche</h6>
            <p class="text-secondary"><i>in {{friendGameRequest.stats.games}} partite</i></p>
         </div>
         <div class="col-sm-2 text-center">
            <h6>Vittorie:</h6>
            <p class="text-secondary">{{friendGameRequest.stats.win}}</p>
         </div>
         <div class="col-sm-2 text-center">
            <h6>Pareggi:</h6>
            <p class="text-secondary">{{friendGameRequest.stats.draw}}</p>
         </div>
         <div class="col-sm-2 text-center">
            <h6>Sconfitte:</h6>
            <p class="text-secondary">{{friendGameRequest.stats.lose}}</p>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-5">
            <button type="button" class="btn btn-success btn-lg"
               (click)="complete_match_request(friendGameRequest._id, 'ACCEPT')">Accetta</button>
         </div>
         <div class="col-5">
            <button type="button" class="btn btn-danger btn-lg"
               (click)="complete_match_request(friendGameRequest._id, 'DENY')">Rifiuta</button>
         </div>
      </div>
   </div>
</div>

<div class="row mx-4 my-4">
   <!-- Code used to enter in waiting status or watching the game in progress -->
   <div class="col-9">
      <p>
         Benvenuto all'interno dell'applicazione Connect-4.<br>
         Connect-4 (conosciuto in italiano come Forza-4) è un gioco di allineamento di solito su una matrice di 6 righe
         e 7 colonne.<br>
         L'obiettivo di questo gioco è di mettere in fila (orizzontale, verticale o diagonale) quattro pedine dello
         stesso colore. Le pedine in questione
         saranno di due colori: rosso e giallo.<br>
         All'interno dell'applicazione sono disponibili varie funzionalità:
      </p>
      <ul>
         <li>Ricerca partita: cerca una partita contro un giocatore randomico le cui statistiche siano simili alle tue.
         </li>
         <li>Visualizza partite iniziate: mostra tutte le partite in corso in cui è possibile accedere e visualizzare il
            corso del match.</li>
         <li>Aggiunta amico: è possibile creare la propria lista di amici, con i quali è possibile interagire chattando
            assieme e potendo pur richiedere di giocare assieme.</li>
         <li>Profilo giocatore: all'interno del profilo giocatore saranno presente le proprie informazioni personali e
            le statistiche di gioco ottenute nel tempo.</li>
      </ul>
      <p *ngIf="user.is_admin()">
         Inoltre, essendo che sei un moderatore avrai a disposizione delle funzionalità aggiuntive.<br>
         In primis è possibile visualizzare le informazioni di tutti gli utenti dell'applicazione. Per ogni utente, poi, è inserita la possibilità di rimuovere un utente dall'applicazione.<br>
         Inoltre, un moderatore può aggiungere dei nuovi moderatori creando degli utenti contemporanei.
      </p>
      <div class="my-2">
         <label>Vuoi iniziare a giocare?</label>
         <button type="button" class="btn btn-outline-primary mx-3" (click)="open('WAITING ROOM', waitingRoom)">Ricerca
            partita</button>
      </div>
      <div class="my-2">
         <label>Altrimenti, se vuoi seguire una partita</label>
         <button type="button" class="btn btn-outline-primary mx-3" [routerLink]="['/match-list']">Visualizza partite
            iniziate</button>
      </div>
   </div>
   <!-- Code used for the friendlist -->
   <div class="col-3">
      <h2>Lista amici</h2>
      <div *ngFor="let friend of friendList" class="card" style="margin: 5px">
         <div class="nearby-user">
            <div class="row">
               <div class="col-md-3 col-sm-3 py-2">
                  <img src="../../assets/{{friend.avatar}}.png" alt="user" class="profile-photo-lg">
               </div>
               <div class="col-md-9 col-sm-9 py-2">
                  <h5>{{friend.username}}</h5>
                  <p class="text-secondary">id: <i>{{friend._id}}</i></p>
               </div>
            </div>
            <div class="row text-center py-2">
               <div class="col-md-4 col-sm-4">
                  <button type="button" class="btn btn-outline-danger"
                     (click)="remove_friend(friend._id)">Rimuovi</button>
               </div>
               <div class="col-md-4 col-sm-4">
                  <button type="button" class="btn btn-outline-primary"
                     [routerLink]="['/friend-chat', friend._id]">Messaggia</button>
               </div>
               <div class="col-md-4 col-sm-4">
                  <button type="button" class="btn btn-outline-primary"
                     (click)="create_friend_game(friend._id)">Sfida</button>
               </div>
            </div>
         </div>
      </div>
      <form class="row g-3">
         <div class="col-auto">
            <input #friendIdTxt type="text" class="form-control" id="friendTxt"
               placeholder="Inserisci l'id dell'utente">
         </div>
         <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3"
               (click)="send_friend_request(friendIdTxt.value)">Aggiungi</button>
         </div>
      </form>
   </div>
</div>

<!-- Template used when an user enter in waiting status room -->
<ng-template #waitingRoom let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ricerca di una nuova partita</h4>
   </div>
   <div class="modal-body">
      <p>Stiamo cercando un avversario con delle statistiche simili alle tue. Attendi finché non verrà trovato!</p>
      <p>Se vuoi uscire dalla ricerca di un avversario, clicca all'esterno di questo box, oppure premi sul tasto "Esci
         dalla ricerca"</p>
   </div>
   <div class="modal-footer d-grid gap-2">
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Stop research')">Esci dalla
         ricerca</button>
   </div>
</ng-template>

<!-- Template used when a moderator want to add a new moderator -->
<ng-template #newModerator let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Aggiunta nuovo moderatore</h4>
   </div>
   <div class="modal-body">
      <p>Inserisci le informazioni essenziali ed inserisci un nuovo moderatore all'interno dell'applicazione.</p>
      <div class="form-group">
         <label for="inputEmail">Email address</label>
         <input type="email" #mail="ngModel" name="mail" [(ngModel)]="moderatorTemplate.email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control" required id="inputEmail"
            aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
         La mail non è valida
      </div>

      <div class="form-group">
         <label for="inputUsername">Username</label>
         <input type="text" #username="ngModel" required name="username" [(ngModel)]="moderatorTemplate.username"
            class="form-control" id="inputUsername" placeholder="Enter username">
      </div>

      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
         Lo username è richiesto
      </div>

      <div class="form-group">
         <label for="inputPassword">Password</label>
         <input type="password" #password="ngModel" required name="password" [(ngModel)]="moderatorTemplate.password"
            class="form-control" id="inputPassword" placeholder="Password">
      </div>

      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
         La password è richiesta
      </div>

      <div [ngSwitch]="moderatorMessage" class="mt-3">
         <div class="alert alert-danger" *ngSwitchCase="'ERROR'">Errore riscontrato mentre veniva creato il nuovo
            moderatore!</div>
         <div class="alert alert-success" *ngSwitchCase="'SUCCESS'">Nuovo moderatore creato con successo!</div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary"
         [disabled]=" !mail.valid || !password.valid || !username.valid" (click)="add_new_moderator()">Aggiungi</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Stop creating')">Esci</button>
   </div>
</ng-template>