* {
	border: 0;
	padding: 0;
}

#game-board {
	background: #0074B3;
	width: 730px;
	cursor: pointer;
}

.column {
	width: 100px;
	display: inline-block;
}

.column:hover  circle.free{
	fill: #D5E4ED;
}

circle.free {
	fill: #fff;
}

circle.red {
	fill: #D50000;
}

circle.yellow {
	fill: #DAD400;
}

.form-group {
	background-color: #F0F0F0;
	/* border: 1px solid gray; */
	border-radius: 5px;
	padding: 0rem 2rem 0rem 2rem;
 }

.card {
	border: 1px solid gray;
	border-radius: 3px;
}

.card-body {
	margin: 5px;
}

.btn {
	padding: 10px;
}

