<div class="container">
   <div class="container" [ngSwitch]="winnerPlayer">
      <h3 *ngSwitchCase="'WIN'">Il match è terminato. Hai vinto!</h3>
      <h3 *ngSwitchCase="'LOSE'">Il match è terminato. Hai perso!</h3>
      <h3 *ngSwitchCase="'DRAW'">Il match è terminato. Il match è finito in pareggio!</h3>
      <h3 *ngSwitchDefault>Sta giocando il player: {{matchInfos.turn}}</h3>
   </div>
   <div *ngFor="let rows of matchInfos.grid" class="row" style="margin: 5px">
      <div *ngFor="let cols of rows; index as i" class="column" (click)="makeMoves(i)">
         <div *ngIf="cols=='EMPTY'">
            <svg height="100" width="100" class="row-0">
               <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg>
         </div>
         <div *ngIf="cols=='RED'">
            <svg height="100" width="100" class="row-0">
               <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" fill="red" />
            </svg>
         </div>
         <div *ngIf="cols=='YELLOW'">
            <svg height="100" width="100" class="row-0">
               <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" fill="yellow" />
            </svg>
         </div>
      </div>
      <br>
   </div>
</div>